            <section class="section certificates-section">
              <h2 class="section-title"><i class="fa fa-certificate"></i>Certificates</h2>
              {% comment %}
              <div class="intro">
                  <p>Collection of certificates that I got from events, competitions, training and others</p>
                  <br />
              </div>
              {% endcomment %}

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">
                              <a href="https://me.repodevs.com/assets/media/docs/Architecting-on-AWS-Certificate.pdf" target="_blank" rel="nofollow">
                                Architecting on AWS
                              </a>
                            </h3>
                            <div class="time">02 Oct 2019</div>
                        </div>
                        <div class="company">AWS Training and Certification</div>
                    </div>
                    <div class="details">
                        <p>This training focus on how to Architecting on AWS using their principles to leverage AWS Services to make the infrastructure scalable, reliable, and high availability.</p>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">
                              <a href="https://me.repodevs.com/assets/media/docs/Developing-on-AWS-Certificate.pdf" target="_blank" rel="nofollow">
                                Developing on AWS
                              </a>
                            </h3>
                            <div class="time">09 Oct 2019</div>
                        </div>
                        <div class="company">AWS Training and Certification</div>
                    </div>
                    <div class="details">
                        <p>This training focus on how to Developing application and interact with their services using AWS SDK. such as S3 or DynamoDB for data store, Cognito for authentication, AWS Lambda for serverless, SQS for PubSub, SNS for notification, and also use CodePipeline for CI/CD for deployment.</p>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">
                              <a href="https://google.qwiklabs.com/public_profiles/5d3d1cf1-c50c-4b0a-a1be-b750848bc0a7" target="_blank" rel="nofollow">
                               Google Cloud Training 
                              </a>
                            </h3>
                            <div class="time">Feb 2019</div>
                        </div>
                        <div class="company">Qwiklabs</div>
                    </div>
                    <div class="details">
                        <p>A hands-on with self-paced training on Qwiklabs platform provided by Google Cloud Training. <br />
                           In this training I took an topics like: Baseline Infrastructure GCloud, Application Development, Data Engineering, Intro to ML, Cloud Development and Kubernetes. 
                        </p>
                    </div>
                </div>
 
        </section>
