            <section class="section experiences-section">
              <h2 class="section-title"><i class="fa fa-certificate"></i>Certificate</h2>
              <div class="intro">
                  <p>Collection of certificates that I got from events, competitions, training and others</p>
                  <br />
              </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">
                              <a href="/assets/media/docs/dicoding_event_certificate_solo.pdf" target="_blank" rel="nofollow">
                                BEKRAF Developer Day 2017 - Solo
                              </a>
                            </h3>
                            <div class="time">09 Apr 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Swissbel-Inn Saripetojo Hotel | Solo, Jawa Tengah, Indonesia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Sertifikat Kehadiran dalam event BEKRAF Developer Day 2017 - Bogor dengan tema "<b>Membangun Kemandirian Bangsa Melalui Digital</b>".</p>
                        <p>Didalam acara ini, selain sesi seminar umum juga ada sesi masterclass,
                          yaitu dimana setiap kelas hanya di isi beberapa orang,
                          dan melakukan diskusi & praktek secara interaktif, saya mengikuti Masterclass "<b>Pembuatan Aplikasi Kognitif IBM Watson</b>" dengan bimbingan langsung oleh tim IBM Indonesia.
                        </p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">
                              <a href="/assets/media/docs/dicoding_event_certificate_bogor.pdf" target="_blank" rel="nofollow">
                                BEKRAF Developer Day 2017 - Bogor
                              </a>
                            </h3>
                            <div class="time">18 Mar 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">IPB International Convention Center | Bogor, Jawa Barat, Indonesia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Sertifikat Kehadiran dalam event BEKRAF Developer Day 2017 - Bogor dengan tema "<b>Membangun Kemandirian Bangsa Melalui Digital</b>".</p>
                        <p>Didalam acara ini, selain sesi seminar umum juga ada sesi masterclass,
                          yaitu dimana setiap kelas hanya di isi beberapa orang,
                          dan melakukan diskusi & praktek secara interaktif, saya mengikuti Masterclass "<b>IoT, Sensors, & Big Data</b>" waktu itu.
                        </p>
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
