<section class="section community-section">
              <h2 class="section-title"><i class="fa fa-terminal"></i>Comback</h2>
              <div class="intro">
                  <p><b>Comback - Community and Give Back</b> <br />
                  I Love attending an events from Tech-community and Also Love about Open Source. <br/>
                  Because I believe from there we can learn something new and improving our self. <br/>
                  So in my free time I tried to contribute to Open Source Projects <i>even it's only fixing the docs</i>. <br/>
                  I have been contribute to Open Source Projects such as Odoo, OCA (Odoo Community Association), odoo-themes, etc.
                  More information on <a href="https://github.com/repodevs" target="_blank" rel="nofollow">https://github.com/repodevs</a>.
                  </p>
              </div>
</section>
