            <section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Python & Odoo Developer</h3>
                            <div class="time">Jan 2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Niaga Solution | Jakarta Timur, Indonesia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Research & Development division at Niaga Solution (part of Toko Mesin Maksindo Group).</p>
                        <p>- Implement ERP System (Sales, Purchasing, Inventory, Accounting, Manufactur, CRM)(include for customize modules) for PT. Toko Mesin Maksindo and its branches.<br/>
                          - Make Documentation and Roadmap Technical Development <br/>
                          - Training Our Employee <br/>
                          - Server Administrator <br/>
                          - Database Administrator <br/>
                          - Create reports for manager and owner<br/>
                          - Create budgeting for development<br/>
                          - Controlling our TEAM <br/>
                          - Assist development other division (give advice about method to use, technology to use, etc in development)<br>
                        </p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Junior Odoo Developer</h3>
                            <div class="time">Sep 2016 - Dec 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Niaga Solution | Jakarta Timur, Indonesia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Assistant implementator and developing odoo module for Niaga Solution (part of Toko Mesin Maksindo Group) client's.</p>
                        <p>Developed Field: CRM, Sales, Purchasing, Inventory, Accounting, HR Management and customized modules.</p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Junior Software Developer</h3>
                            <div class="time">May 2016 - Sep 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Pondok Programmer Kilat | Yogyakarta, Indonesia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Learn and Developing Odoo ( Formerly OpenERP ) Software.</p>
                        <p>Developed Field: CRM, Sales, Purchases, Warehouse, Accounting, Point Of Sales, and Customize Modules.
                        </p>

                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Junior Software Developer</h3>
                            <div class="time">Feb 2016 - Jun 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">CoderDojo Indonesia | Yogyakarta, Indonesia</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p> Create a desktop application that works to retrieve all data information on every
                        computer and operating system (Windows, OSX, Linux) then sent that information to the server.
                      </p>
                      <p>
                      Tech and tools used: Python, WxPython, py2exe, Flask, SQLite, Git, BitBucket, JIRA, Harvest: (Simple Online Time Tracking Software)
                      </p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Freelance Web Developer</h3>
                            <div class="time">Oct 2015 - Jan 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Yogyakarta, Indonesia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>As a freelancer, I'm develop several web-based applications. <br/>
                        I'm using PHP, Laravel, Angular JS, WordPress, Python, Django, Git and some awesome tehcnology in Development Process.   </p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web Developer</h3>
                            <div class="time">Sep 2015 - Oct 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">ID-Networkers | Jakarta Barat, Indonesia</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Create a web management system for registration and invoicing that is integrated with third parties.</p>
                      <p>
                      We are using Laravel, Angular JS, WordPress and Git in Development Process.
                      </p>  
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web Developer</h3>
                            <div class="time">Jul 2015 - Aug 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Pondok Programmer | Yogyakarta, Indonesia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Website development using PHP, Laravel, WordPress, and other awesome technology tools.</p>
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
