            <section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer, ERP Specialist</h3>
                            <div class="time">May 2021 - Now</div>
                        </div><!--//upper-row-->
                        <div class="company">Warung Pintar | Jakarta, Indonesia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Maintain and develop system Point of Sales using Odoo 13.
                        <br/> Integrating system Point of Sales with GrabMart.
                        <br/> Maintain and develop system Point of Sales using Node.js.
                        </p>
                        <p>Tech and Tools: Python, Node.js, PostgreSQL, MySQL, Redis, Docker, GitLab, Bitbucket, Jira, Redash, Grafana, Kiali.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Backend Developer</h3>
                            <div class="time">Aug 2020 - Apr 2021</div>
                        </div><!--//upper-row-->
                        <div class="company">SiCepat | Jakarta, Indonesia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Product and Business</p>
                        <ul>
                            <li>Develop Billing system, used by Internal Ops (Finance).</li>
                            <li>Develop Surat Management Darat system (part of Transport Management System), used by Internal Ops.</li>
                            <li>Develop PettyCash system from scratch, used by Internal Ops (Finance) and Admin Branch.</li>
                        </ul>

                        <p>Tech and Team</p>
                        <ul>
                            <li>Encourage colleague to do open source projects things.</li>
                            <li>Write Tech Documentation and collaborate with the team.</li>
                            <li>Do Experiments and collaboration with the team.</li>
                            <li>Assist Tech Lead to lead the team.</li>
                        </ul>
                        <p>Tech and Tools: Node.js, PostgreSQL, Redis, Docker, GitHub, Jira, Notion.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Backend Engineer</h3>
                            <div class="time">Apr 2019 - Jul 2020</div>
                        </div><!--//upper-row-->
                        <div class="company">YukStay | Jakarta, Indonesia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Develop system for Internal Ops and Supporting our Frontend Apps (Web and Mobile).
                        <br/> Integrating our system with third parties from Payments to Accounting.
                        <br/> Also do data crawling via SQL Query to help the Business team.</p>
                        <p>Tech and Tools: Node.js, Python, Golang, PostgreSQL, Redis, AWS, Docker, GitHub, Jira, Notion.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Backend Engineer</h3>
                            <div class="time">Jul 2018 - Mar 2019</div>
                        </div><!--//upper-row-->
                        <div class="company">Workmate (formerly Helpster) | Jakarta, Indonesia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>My responsibility is to maintain existing system and developing new Internal System for Ops and Supporting our Frontend Apps (Mobile and Web).
                        <br /> Also often to do data crawling via SQL query from the Database to help the DBA and Business team.
                        <br /> Work closed with Product Guys, Tester, Frontend and DevOps.</p>
                        <p>Tech and Tools: Python, Node.js, Odoo, Django, PostgreSQL, Redis, AWS, Docker, Kubernetes, BitBucket, GitLab, Jira, Asana, Trello</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Freelance Python & Odoo Developer</h3>
                            <div class="time">Feb 2018 - Jun 2018</div>
                        </div><!--//upper-row-->
                        <div class="company">Internet | Indonesia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Helping client to develop their existing system and collaborate with their team (Product, Backend, Frontend, Mobile Dev) to integrate the system.</p>
                        <p>Tech and Tools: Python, Odoo, Django, PostgreSQL, Redis, AWS, Docker, Kubernetes, BitBucket, Jira, Trello</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Python & Odoo Developer</h3>
                            <div class="time">Jan 2017 - Jan 2018</div>
                        </div><!--//upper-row-->
                        <div class="company">Niaga Solution | Jakarta, Indonesia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Research & Development division with scope of works:</p>
                        <p>
                        <ul>
                            <li>Implement ERP System (CRM, Sales, Purchasing, Inventory, Accounting, Manufactur)</li>
                            <li>Customize Odoo module for Invoicing, Inventory, Accounting and Reporting</li>
                            <li>Make Documentation and Roadmap Technical Development</li>
                            <li>Training Our Employee</li>
                            <li>Server & Database Administrator</li>
                            <li>Create reports for manager and owner</li>
                            <li>Create budgeting for development</li>
                            <li>Controlling our TEAM</li>
                            <li>Assist development other division (give advice about method or technology to use, etc)</li>
                        </ul>
                        </p>
                        <p>Tech and Tools: Python, Odoo, Android, PostgreSQL, Django, Flask, Docker, DigitalOcean & Vultr, GitLab, Trello, GSuite</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Junior Odoo Developer</h3>
                            <div class="time">May 2016 - Dec 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Niaga Solution | Jakarta, Indonesia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Assistant implementator and developing Odoo modules.</p>
                        <p>Development Fields: CRM, Sales, Purchasing, Inventory, Accounting, HR Management and customized Odoo modules.</p>
                        <p>Tech and Tools: Python, Odoo, PostgreSQL, DigitalOcean & Vultr, GitLab, Trello</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Junior Software Developer (remote)</h3>
                            <div class="time">Feb 2016 - Jun 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">CoderDojo Indonesia | Yogyakarta, Indonesia</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Create a desktop application that works to retrieve all data information on every
                        computer and operating system (Windows, OSX, Linux) then sent that information to the server.
                      </p>
                      <p>Tech and Tools: Python, WxPython, py2exe, Flask, SQLite, Git, BitBucket, Jira, Harvest (Simple Online Time Tracking Software)</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Freelance Web Developer</h3>
                            <div class="time">Jul 2015 - Jan 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Yogyakarta, Indonesia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>As a freelancer, I'm develop several web-based application based on client requests. such as web registration system, invoicing system and integrating current system with third parties.</p>
                        <p>Tech and Tools: PHP, Laravel, WordPress, AngularJS, Python, Django, Flask, Git, Trello, Jira</p>
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
