            <section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research & Development</h3>
                            <div class="time">Jan 2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Niaga Solution | Jakarta Timur, Indonesia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Research & Development division at Niaga Solution.</p>
                        <p>- Implement ERP System for PT. MAKSINDO and its branches <br/>
                          - Make Documentation and Roadmap Technical Development <br/>
                          - Training Our Employee <br/>
                          - DevOps <br/>
                          - Database Administrator <br/>
                          - Create daily reports for managers <br/>
                          - Controlling our TEAM <br/>
                        </p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Junior ODOO Programmer</h3>
                            <div class="time">Sep 2016 - Dec 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Niaga Solution | Jakarta Timur, Indonesia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Assistant implementator and developing module for Niaga Solution client that needed. </p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Junior Software Developer</h3>
                            <div class="time">Mei 2016 - Sep 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Pondok Programmer Kilat | Yogyakarta, Indonesia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Learn and Developing ODOO ( Formerly OpenERP ) Software.</p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Junior Software Developer</h3>
                            <div class="time">Feb 2016 - Jun 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">CoderDojo Indonesia | Yogyakarta, Indonesia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Make a application using python, winapi, py2exe, wxpython, etc.</p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web Developer</h3>
                            <div class="time">Sep 2015 - Oct 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">ID-Networkers | Jakarta Barat, Indonesia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Creating a web registration system as API service and integrate with wordpress.</p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web Developer</h3>
                            <div class="time">Jul 2015 - Aug 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Pondok Programmer | Yogyakarta, Indonesia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Developing some website using Python, PHP, Wordpess, and other awesome technology tools.</p>
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
