            <section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Some of my side projects.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title">
                      <a href="https://github.com/repodevs/django-ksblog" target="_blank" rel="nofollow">django-ksblog</a>
                    </span>
                    <span class="project-tagline">A simple blog application build with django 1.9</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">
                      <a href="https://github.com/repodevs/flask-microservices-main" target="_blank" rel="nofollow">Flask Microservices</a>
                    </span>
                    <span class="project-tagline">A simple Microservices build with Flask, React JS, PostgreSQL and Docker</span>
                </div><!--//item-->
            </section><!--//section-->
