<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
{% include cv/head.html %}

<body>
    <div class="wrapper">
        {% include cv/sidebar.html %}
        
        <div class="main-wrapper">
           
           {{content}}
            
 <div class="row">
     <div class="col-sm-4 col-sm-offset-10 text-center">
            <a style="color:#97AAC3;font-style:italic;font-size:0.54em" href="https://themes.3rdwavemedia.com/resources/sketch-template/orbit-sketch-sketch-resume-template-for-developers/" target="_blank" rel="nofollow">Orbit for devs by Xiao Riley</a>
     </div>
</div>

        </div>
    </div>
 
{% comment %}
{% include cv/footer.html %}
{% endcomment %}
 
{% include cv/scripts.html %}
</body>
</html> 
